[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
oxmart_payment = "9xMartPayment11111111111111111111111111111"

[programs.devnet]
oxmart_payment = "9xMartPayment11111111111111111111111111111"

[programs.testnet]
oxmart_payment = "9xMartPayment11111111111111111111111111111"

[programs.mainnet]
oxmart_payment = "9xMartPayment11111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
