--
-- PostgreSQL database dump
--

-- Dumped from database version 17.3
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;



ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.api_keys DISABLE TRIGGER ALL;



ALTER TABLE public.api_keys ENABLE TRIGGER ALL;

--
-- Data for Name: external_customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.external_customers DISABLE TRIGGER ALL;

COPY public.external_customers (id, phone, "countryCode", email, "emailVerified", "phoneVerified", "verificationStatus", "lastVerifiedAt", "fullName", "addressLine1", "addressLine2", city, state, "postalCode", country, landmark, "riskScore", "isSuspicious", "lastActivityAt", metadata, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.external_customers ENABLE TRIGGER ALL;

--
-- Data for Name: external_deposit_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.external_deposit_addresses DISABLE TRIGGER ALL;

COPY public.external_deposit_addresses (id, "customerId", network, "stablecoinType", address, status, "assignedAt", "lastUsedAt", "expiresAt", "pendingBalance", "totalReceived", metadata, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.external_deposit_addresses ENABLE TRIGGER ALL;

--
-- Data for Name: sellers; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.sellers DISABLE TRIGGER ALL;



ALTER TABLE public.sellers ENABLE TRIGGER ALL;

--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.products DISABLE TRIGGER ALL;



ALTER TABLE public.products ENABLE TRIGGER ALL;

--
-- Data for Name: external_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.external_orders DISABLE TRIGGER ALL;

COPY public.external_orders (id, "apiKeyId", "customerId", "depositAddressId", "orderNumber", "productId", quantity, "stablecoinType", network, "pricePerUnit", subtotal, tax, total, status, "depositAddress", "expectedAmount", "receivedAmount", "txHash", "paymentExpiresAt", "paidAt", "shippingAddress", "trackingNumber", "shippedAt", "deliveredAt", "idempotencyKey", metadata, "createdAt", "updatedAt", "cancelledAt", "expiresAt") FROM stdin;
\.


ALTER TABLE public.external_orders ENABLE TRIGGER ALL;

--
-- Data for Name: ad_clicks; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.ad_clicks DISABLE TRIGGER ALL;

COPY public.ad_clicks (id, "apiKeyId", "productId", "clickToken", "customerSessionId", "customerPreferences", "clickedAt", "convertedAt", "orderId", metadata, "createdAt", "expiresAt") FROM stdin;
\.


ALTER TABLE public.ad_clicks ENABLE TRIGGER ALL;

--
-- Data for Name: api_key_recommendation_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.api_key_recommendation_configs DISABLE TRIGGER ALL;

COPY public.api_key_recommendation_configs (id, "apiKeyId", "selectedProductIds", "selectedCategories", "minRating", "maxPrice", "minPrice", "prioritizeInStock", "prioritizeHighRated", "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.api_key_recommendation_configs ENABLE TRIGGER ALL;

--
-- Data for Name: api_usage_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.api_usage_logs DISABLE TRIGGER ALL;



ALTER TABLE public.api_usage_logs ENABLE TRIGGER ALL;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_logs DISABLE TRIGGER ALL;



ALTER TABLE public.audit_logs ENABLE TRIGGER ALL;

--
-- Data for Name: commission_payouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.commission_payouts DISABLE TRIGGER ALL;

COPY public.commission_payouts (id, "apiKeyId", "totalAmount", "stablecoinType", network, "walletAddress", "txHash", status, "requestedAt", "processedAt", "completedAt", "failedAt", "failureReason", metadata, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.commission_payouts ENABLE TRIGGER ALL;

--
-- Data for Name: commissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.commissions DISABLE TRIGGER ALL;

COPY public.commissions (id, "apiKeyId", "externalOrderId", "orderTotal", "commissionRate", "commissionAmount", "stablecoinType", network, status, "confirmedAt", "availableAt", "paidAt", "cancelledAt", "cancellationReason", "payoutId", metadata, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.commissions ENABLE TRIGGER ALL;

--
-- Data for Name: deleted_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.deleted_products DISABLE TRIGGER ALL;

COPY public.deleted_products (id, "productId", "sellerId", name, description, "imageUrl", images, category, brand, prices, "deletedBy", "deletedAt", reason, metadata) FROM stdin;
\.


ALTER TABLE public.deleted_products ENABLE TRIGGER ALL;

--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.wallets DISABLE TRIGGER ALL;

COPY public.wallets (id, "userId", "stablecoinType", network, "depositAddress", balance, "lockedBalance", "createdAt", "updatedAt", "encryptedPrivateKey") FROM stdin;
\.


ALTER TABLE public.wallets ENABLE TRIGGER ALL;

--
-- Data for Name: deposits; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.deposits DISABLE TRIGGER ALL;

COPY public.deposits (id, "walletId", "txHash", "fromAddress", amount, confirmations, "requiredConfirms", status, network, "blockNumber", "createdAt", "confirmedAt") FROM stdin;
\.


ALTER TABLE public.deposits ENABLE TRIGGER ALL;

--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.employees DISABLE TRIGGER ALL;

COPY public.employees (id, "userId", role, permissions, department, "isActive", "createdBy", "createdAt", "updatedAt", "lastActiveAt") FROM stdin;
\.


ALTER TABLE public.employees ENABLE TRIGGER ALL;

--
-- Data for Name: employee_activities; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.employee_activities DISABLE TRIGGER ALL;

COPY public.employee_activities (id, "employeeId", action, "entityType", "entityId", description, metadata, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


ALTER TABLE public.employee_activities ENABLE TRIGGER ALL;

--
-- Data for Name: exchange_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.exchange_rates DISABLE TRIGGER ALL;

COPY public.exchange_rates (id, "stablecoinType", "fiatCurrency", rate, provider, "validUntil", "createdAt") FROM stdin;
f18b8b96-1be0-46bc-935f-09b8f337f953	USDT	USD	1.00500000	coinbase	2025-12-16 14:00:21.516	2025-12-16 13:55:21.517
f7959ea2-c00b-4664-acde-928bbaf87857	BUSD	USD	1.00500000	coinbase	2026-01-03 09:42:49.523	2026-01-03 09:37:49.525
\.


ALTER TABLE public.exchange_rates ENABLE TRIGGER ALL;

--
-- Data for Name: external_otp_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.external_otp_verifications DISABLE TRIGGER ALL;

COPY public.external_otp_verifications (id, "customerId", type, recipient, otp, attempts, "maxAttempts", verified, "expiresAt", "createdAt") FROM stdin;
\.


ALTER TABLE public.external_otp_verifications ENABLE TRIGGER ALL;

--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.favorites DISABLE TRIGGER ALL;

COPY public.favorites (id, "userId", "productId", "createdAt") FROM stdin;
\.


ALTER TABLE public.favorites ENABLE TRIGGER ALL;

--
-- Data for Name: fiat_purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.fiat_purchases DISABLE TRIGGER ALL;

COPY public.fiat_purchases (id, "userId", provider, "providerTxId", "stablecoinType", "fiatAmount", "fiatCurrency", "stablecoinAmount", "exchangeRate", "processingFee", status, "paymentMethod", metadata, "createdAt", "completedAt", "failureReason") FROM stdin;
\.


ALTER TABLE public.fiat_purchases ENABLE TRIGGER ALL;

--
-- Data for Name: kyc_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.kyc_documents DISABLE TRIGGER ALL;

COPY public.kyc_documents (id, "userId", "documentType", "documentUrl", status, "submittedAt", "reviewedAt", "reviewedBy", "rejectionReason", "backImageUrl", metadata, "ocrData") FROM stdin;
\.


ALTER TABLE public.kyc_documents ENABLE TRIGGER ALL;

--
-- Data for Name: master_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.master_keys DISABLE TRIGGER ALL;

COPY public.master_keys (id, network, "encryptedSeed", "encryptedPrivateKey", "publicAddress", "derivationPath", "createdBy", "createdAt", "updatedAt", "lastAccessedAt", "lastAccessedBy", "isActive", metadata) FROM stdin;
\.


ALTER TABLE public.master_keys ENABLE TRIGGER ALL;

--
-- Data for Name: master_key_access_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.master_key_access_logs DISABLE TRIGGER ALL;

COPY public.master_key_access_logs (id, "masterKeyId", "accessedBy", action, "ipAddress", "userAgent", success, reason, "createdAt") FROM stdin;
\.


ALTER TABLE public.master_key_access_logs ENABLE TRIGGER ALL;

--
-- Data for Name: network_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.network_configs DISABLE TRIGGER ALL;



ALTER TABLE public.network_configs ENABLE TRIGGER ALL;

--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications DISABLE TRIGGER ALL;



ALTER TABLE public.notifications ENABLE TRIGGER ALL;

--
-- Data for Name: user_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.user_addresses DISABLE TRIGGER ALL;

COPY public.user_addresses (id, "userId", type, label, "fullName", phone, "addressLine1", "addressLine2", city, state, "postalCode", country, "isDefault", metadata, "createdAt", "updatedAt") FROM stdin;
23ce64cc-e7aa-4eef-b24b-9e59a83356f6	de13fb4a-054d-4fde-a98c-29b1c182f07e	SHIPPING	\N	no.90, KVB Nagar	8754011177	first cross		karur	tamilnadu	639002	india	f	\N	2025-12-15 16:45:16.627	2025-12-15 16:45:16.627
\.


ALTER TABLE public.user_addresses ENABLE TRIGGER ALL;

--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.orders DISABLE TRIGGER ALL;



ALTER TABLE public.orders ENABLE TRIGGER ALL;

--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_variants DISABLE TRIGGER ALL;

COPY public.product_variants (id, "productId", name, sku, attributes, "priceAdjustment", stock, images, "isDefault", status, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.product_variants ENABLE TRIGGER ALL;

--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.order_items DISABLE TRIGGER ALL;

COPY public.order_items (id, "orderId", "productId", quantity, "stablecoinType", "pricePerUnit", "totalPrice", metadata, "variantId") FROM stdin;
\.


ALTER TABLE public.order_items ENABLE TRIGGER ALL;

--
-- Data for Name: product_prices; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_prices DISABLE TRIGGER ALL;



ALTER TABLE public.product_prices ENABLE TRIGGER ALL;

--
-- Data for Name: product_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_reviews DISABLE TRIGGER ALL;

COPY public.product_reviews (id, "productId", "customerId", "userId", rating, title, comment, "isVerified", "isApproved", "helpfulCount", images, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.product_reviews ENABLE TRIGGER ALL;

--
-- Data for Name: rewards; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.rewards DISABLE TRIGGER ALL;

COPY public.rewards (id, "userId", type, amount, points, status, description, metadata, "createdAt", "updatedAt", "claimedAt", "expiresAt", currency, "referenceId", "referenceType") FROM stdin;
\.


ALTER TABLE public.rewards ENABLE TRIGGER ALL;

--
-- Data for Name: seller_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.seller_documents DISABLE TRIGGER ALL;



ALTER TABLE public.seller_documents ENABLE TRIGGER ALL;

--
-- Data for Name: seller_payouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.seller_payouts DISABLE TRIGGER ALL;

COPY public.seller_payouts (id, "sellerId", "grossAmount", "platformFee", "netAmount", "stablecoinType", network, "payoutMethod", "walletAddress", "bankReference", "txHash", status, "periodStart", "periodEnd", "requestedAt", "processedAt", "completedAt", "failedAt", "failureReason", "approvedBy", "approvedAt", "orderIds", metadata, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.seller_payouts ENABLE TRIGGER ALL;

--
-- Data for Name: sweep_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.sweep_transactions DISABLE TRIGGER ALL;

COPY public.sweep_transactions (id, "walletId", "depositId", "fromAddress", "toAddress", amount, "stablecoinType", network, "txHash", "gasUsed", "gasFee", status, "createdAt", "processedAt", "completedAt", "failureReason", "retryCount", "maxRetries") FROM stdin;
\.


ALTER TABLE public.sweep_transactions ENABLE TRIGGER ALL;

--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.system_config DISABLE TRIGGER ALL;

COPY public.system_config (id, key, value, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public.system_config ENABLE TRIGGER ALL;

--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.system_settings DISABLE TRIGGER ALL;

COPY public.system_settings (id, "kycEnabled", "maintenanceMode", "maintenanceMessage", "registrationEnabled", "withdrawalsEnabled", "depositsEnabled", "fiatPurchaseEnabled", "minWithdrawalAmount", "maxWithdrawalAmount", "withdrawalFeePercent", metadata, "createdAt", "updatedAt", "updatedBy", "tokenSwapEnabled", "apiAccessEnabled", "showTestnetBanner") FROM stdin;
singleton	f	f	\N	t	t	t	t	10.00000000	50000.00000000	0.00	\N	2026-01-03 08:46:06.698	2026-01-13 08:02:01.138	1795c992-a447-4790-b91a-8bad4bd21137	f	f	t
\.


ALTER TABLE public.system_settings ENABLE TRIGGER ALL;

--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.transactions DISABLE TRIGGER ALL;



ALTER TABLE public.transactions ENABLE TRIGGER ALL;

--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.user_sessions DISABLE TRIGGER ALL;



ALTER TABLE public.user_sessions ENABLE TRIGGER ALL;

--
-- Data for Name: webhook_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.webhook_logs DISABLE TRIGGER ALL;

COPY public.webhook_logs (id, "orderId", "eventType", "webhookUrl", payload, status, "statusCode", response, attempts, "maxAttempts", "lastAttemptAt", "nextRetryAt", "deliveredAt", "createdAt") FROM stdin;
\.


ALTER TABLE public.webhook_logs ENABLE TRIGGER ALL;

--
-- Data for Name: withdrawals; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.withdrawals DISABLE TRIGGER ALL;

COPY public.withdrawals (id, "walletId", "toAddress", amount, "networkFee", "txHash", status, network, "approvedBy", "approvedAt", "createdAt", "processedAt", "completedAt", "failureReason") FROM stdin;
\.


ALTER TABLE public.withdrawals ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

